In [3]:
import pandas as pd

In [4]:
sales_records = pd.read_csv("s3://forever21etl/sales-records.csv")
sales_records.shape

(5000, 15)

In [5]:
sales_records.columns

Index(['ID', 'Region', 'Country', 'Item_Type', 'Sales_Channel',
       'Order_Priority', 'Order_Date', 'Order_ID', 'Ship_Date', 'Units_Sold',
       'Unit_Price', 'Unit_Cost', 'Total_Revenue', 'Total_Cost',
       'Total_Profit'],
      dtype='object')

In [19]:
sales_records.dtypes

ID                  int64
Region             object
Country            object
Item_Type          object
Sales_Channel      object
Order_Priority     object
Order_Date         object
Order_ID            int64
Ship_Date          object
Units_Sold          int64
Unit_Price        float64
Unit_Cost         float64
Total_Revenue     float64
Total_Cost        float64
Total_Profit      float64
dtype: object

In [14]:
sales_records.groupby("Country", as_index=False)["Total_Revenue"].mean().sort_values(by="Total_Revenue", ascending=False)[:5]

         Country  Total_Revenue
133       Rwanda   2.013291e+06
68         India   1.909750e+06
128     Portugal   1.886888e+06
152  South Sudan   1.883306e+06
26        Canada   1.844963e+06

In [8]:
sales_records.head()

   ID                             Region  ...  Total_Cost Total_Profit
0   1  Central America and the Caribbean  ...    87999.84     52914.72
1   2  Central America and the Caribbean  ...   211152.48    119488.38
2   3                             Europe  ...   151892.62     74823.48
3   4                               Asia  ...  1055863.76    798727.44
4   5                               Asia  ...   734892.48    415865.88

[5 rows x 15 columns]

In [9]:
pd.set_option("display.max_columns", None)

In [10]:
sales_records.head()

   ID                             Region               Country  Item_Type  \
0   1  Central America and the Caribbean  Antigua and Barbuda   Baby Food
1   2  Central America and the Caribbean                Panama     Snacks
2   3                             Europe        Czech Republic  Beverages
3   4                               Asia           North Korea     Cereal
4   5                               Asia             Sri Lanka     Snacks

  Sales_Channel Order_Priority  Order_Date   Order_ID  Ship_Date  Units_Sold  \
0        Online              M  12/20/2013  957081544  1/11/2014         552
1       Offline              C    7/5/2010  301644504  7/26/2010        2167
2       Offline              C   9/12/2011  478051030  9/29/2011        4778
3       Offline              L   5/13/2010  892599952  6/15/2010        9016
4       Offline              C   7/20/2015  571902596  7/27/2015        7542

   Unit_Price  Unit_Cost  Total_Revenue  Total_Cost  Total_Profit
0      255.28     159.42      140914.56    87999.84      52914.72
1      152.58      97.44      330640.86   211152.48     119488.38
2       47.45      31.79      226716.10   151892.62      74823.48
3      205.70     117.11     1854591.20  1055863.76     798727.44
4      152.58      97.44     1150758.36   734892.48     415865.88

In [12]:
sales_records["Item_Type"].value_counts()

Beverages          447
Fruits             447
Baby Food          445
Cosmetics          424
Household          424
Office Supplies    420
Personal Care      415
Vegetables         410
Meat               399
Snacks             398
Clothes            386
Cereal             385
Name: Item_Type, dtype: int64

In [13]:
sales_records.groupby("Item_Type", as_index=False)["Total_Revenue"].mean().sort_values(by="Total_Revenue", ascending=False)

          Item_Type  Total_Revenue
6         Household   3.308627e+06
8   Office Supplies   3.267877e+06
4         Cosmetics   2.208591e+06
7              Meat   2.010266e+06
0         Baby Food   1.305038e+06
2            Cereal   1.041644e+06
11       Vegetables   7.854542e+05
10           Snacks   7.364764e+05
3           Clothes   5.615308e+05
9     Personal Care   4.204457e+05
1         Beverages   2.344018e+05
5            Fruits   4.886422e+04

In [21]:
import datetime as dt
sales_records["Order_YearMonthth"] = pd.to_datetime(sales_records["Order_Date"]).dt.strftime("%Y/%m")
sales_records["Order_YearMonthth"].value_counts()

2010/01    70
2015/01    66
2014/08    65
2012/01    65
2016/06    64
           ..
2010/11    44
2012/02    43
2014/02    43
2010/03    41
2010/07    36
Name: Order_YearMonthth, Length: 91, dtype: int64

In [22]:
sales_records.drop(columns=["Order_YearMonthth"], inplace=True)

In [25]:
sales_records["Order_Year"] = pd.to_datetime(sales_records["Order_Date"]).dt.year
sales_records["Order_Year"].value_counts().reset_index().sort_values(by="index", ascending=True)

   index  Order_Year
6   2010         632
5   2011         658
1   2012         678
3   2013         660
4   2014         660
0   2015         679
2   2016         670
7   2017         363

In [29]:
sales_records.groupby(["Country","Order_Year"], as_index=False)["Units_Sold"].sum().sort_values(by="Units_Sold", ascending=False).reset_index()

      index                Country  Order_Year  Units_Sold
0       853                Myanmar        2016       61010
1       998  Republic of the Congo        2011       58123
2       729             Madagascar        2015       57552
3       442                  Ghana        2013       55321
4       997  Republic of the Congo        2010       55293
...     ...                    ...         ...         ...
1415    804               Moldova         2012         306
1416   1181                  Spain        2016         245
1417    474              Guatemala        2014         156
1418    406                Finland        2016          54
1419    832                Morocco        2010          48

[1420 rows x 4 columns]